.geometric_container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  position: fixed;
  width: 85px;
  height: 25px;
  background-color: rgb(238, 232, 243);
  top: 7%;
  left: 32%;
  border: solid 1px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.342);
}

.figure_container {
  display: block;
  width: 24%;
  height: 100%;
  padding: 2px;
}

.figure {
  width: 80%;
  height: 80%;
  cursor: pointer;
}
.figure_container:hover {
  background-color: rgb(231, 208, 250);
  width: 27%;
}

.figure_container:hover:nth-child(1) {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.figure_container:hover:nth-child(4) {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
