.geometric_container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  position: fixed;
  width: 85px;
  height: 25px;
  background-color: rgb(238, 232, 243);
  top: calc(2.2rem + 3%);
  left: calc(14rem + 15%);
  border: solid 1px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.342);
}

.figure_container {
  display: block;
  width: 24%;
  height: 100%;
  padding: 2px;
}

.figure {
  width: 80%;
  height: 80%;
  cursor: pointer;
}
.figure_container:hover {
  background-color: rgb(231, 208, 250);
  width: 27%;
}

.figure_container:hover:nth-child(1) {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.figure_container:hover:nth-child(4) {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

@media screen and (max-width: 1000px) {
  .geometric_container {
    left: calc(10rem + 18%);
  }
}
@media screen and (max-width: 790px) {
  .geometric_container {
    left: calc(8rem + 23%);
  }
}
@media screen and (max-width: 740px) {
  .geometric_container {
    left: calc(6rem + 24%);
  }
}

@media screen and (min-height: 700px) {
  .geometric_container {
    top: calc(2rem + 2%);
  }
}
@media screen and (min-height: 1200px) {
  .geometric_container {
    top: calc(1.5rem + 2%);
  }
}
